
#principal{width: 1200px;}

#logo {width: 400px;}

header{
	width: 1200px;
	height: 100px;
	border: 0px solid #000;
}

.menu{
	width: 600px;
	height: 40px;
	border: 0px solid #000;
	float: right;
	margin-top: 40px;
	background-color: #fff;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration:none;
	padding: 10px 15px;
	border: 0px solid #000; 
	color: black;
	font-family:"century gothic",banshcript;
	font-size: 28px;
}
.menu ul li a:hover{
	background-color: white;
	color: black;
}

#slide{width: 1200px;}

#bienvenido p{width: 1200px; 
	font-size: 25px;
    height: 60px;
    margin-top: 25px;
}

#info{width: 1200px;}

.izq{
	width: 1200px;
	height: 400px;
	border: 0px solid #000;
	margin-top: 55px;
	font-family:"century gothic";
	font-size: 20px;
}
footer {
	width: 1200px;
	height: 100px;
	text-align:center;
	bottom: 0px;
}
footer p {
	width: 1200px;
	font-family:"century gothic";
	font-size: 20px;
	font-weight: bold;
}

#artuculo{width: 1200px;}

#articulo h2 {width: 1200px;}

#pregunta1{width: 1200px;}

#pregunta1 h4 {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	color: black;


}

#pregunta1 p {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: 10px;
}

#pregunta2{width: 1200px;}

#pregunta2 h4 {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	color: black;


}

#pregunta2 p {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: -50px;
}

#pregunta3{width: 1200px;}

#pregunta3 h4 {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	color: black;


}

#pregunta3 p {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: -50px;
}

#pregunta4{width: 1200px;}

#pregunta4 h4 {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	color: black;


}

#pregunta4 p {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: -50px;
}

#pregunta5{width: 1200px;}

#pregunta5 h4 {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	color: black;


}

#pregunta5 p {
	width: 1200px;
	height: 60px;
	border: 0px solid #000;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: -50px;
}


@media all and (min-width:600px) and (max-width:1024px) {

#principal {
	width: 580px;
	height: auto;
	
}

header{width: 580px;
	height: auto;
	
}

#logo {width: 580px;
	height: auto;
	float: left;
	
}
.menu{
	width: 580px;
	height: auto;
	float: right;
	margin-right: 40px;
	
}
.menu ul li{
	list-style: none;
	float: left;
	
}
.menu ul li a{
	text-decoration:none;
	padding: 10px 15px;
	font-size: 25px;
	
}
.menu ul li a:hover{
	background-color: white;
	color: black;
}
#slide {
	width: 580px;
	height: auto;

}
#slide img{
	width: 580px;
	height: auto;
	

}
#bienvenido{width: 580px;
	height:auto; overflow: hidden;
	
}

#bienvenido p{width: 580px;
	height: auto;
}

#info {width: 580px;
	height:auto; overflow: hidden;
}

.izq{width: 580px;
	height: auto;
	
}
footer {width: 580px;
	height: auto;
	text-align:center;
	bottom: 0px;
	
}
footer p {width: 580px;
	
}

#articulo{width: 580px;
	height:auto; 
}

#articulo h2 {width: 580px;
	height: auto;
}

#pregunta1 {width: 580px;
	height:auto; 
	margin-top: -50px;


}

#pregunta1 h4 {width: 580px;
	height: auto;


}

#pregunta1 p {width: 580px;
	height: auto;
	margin-top: 20px;
}

#pregunta2 {width: 580px;
	height:auto; 

}

#pregunta2 h4 {width: 580px;
	height: auto;

}

#pregunta2 p {width: 580px;
	height: auto;
	margin-top: 20px;
}

#pregunta3 {width: 580px;
	height:auto; 

}

#pregunta3 h4 {width: 580px;
	height: auto;


}

#pregunta3 p {width: 580px;
	height: auto;
	margin-top: 20px;
}
#pregunta4 {width: 580px;
	height:auto; 

}

#pregunta4 h4 {width: 580px;
	height: auto;


}

#pregunta4 p {width: 580px;
	height: auto;
	margin-top: 20px;
}
#pregunta5 {width: 580px;
	height:auto; 

}

#pregunta5 h4 {width: 580px;
	height: auto;
	
}

#pregunta5 p {width: 580px;
	height: auto;
	margin-top: 20px;
}

}
@media all and (max-width:599px){

body{
	margin: 0px;
	padding: 0px;
}

#principal {
	width: 90%;
	height: auto;
	
}

header{width: 90%;
	height: auto;
	
}

#logo {width: 90%;
	height: auto;
	float: left;
	
}
.menu{
	width: 90%;
	height: auto;
	float: right;
	margin-right: 120px;
	
}
.menu ul li{
	list-style: none;
	float: left;
	
}
.menu ul li a{
	text-decoration:none;
	padding: 5px 40px;
	font-size: 15px;
	float: left;
	
}
#slide {display: none;}


#bienvenido{width: 90%;
	height:100px;

}

#bienvenido p{width: 90%;
	height: auto;
	font-size: 15px;
	
}

#info {width: 90%;
	height:auto; 
	
}

.izq{width: 90%;
	height: auto;
	font-size: 15px;
	
}
footer {width: 90%;
	height: auto;
	text-align:center;
	bottom: 0px;
	
}
footer p {width: 90%;
	border: 0px solid #000;
	font-size: 10px;
}

#articulo{width: 90%;
	height:auto; overflow: hidden;
}

#articulo h2 {width: 90%;
	height: auto;
}

#pregunta1 {width: 90%;
	height:auto; overflow: hidden;


}

#pregunta1 h4 {width: 90%;
	height: auto;


}

#pregunta1 p {width: 90%;
	height: auto;
	margin-top: 20px;
}

#pregunta2 {width: 90%;
	height:auto; overflow: hidden;

}

#pregunta2 h4 {width: 90%;
	height: auto;

}

#pregunta2 p {width: 90%;
	height: auto;
	margin-top: 20px;
}

#pregunta3 {width: 90%;
	height:auto; overflow: hidden;

}

#pregunta3 h4 {width: 90%;
	height: auto;


}

#pregunta3 p {width: 90%;
	height: auto;
	margin-top: 20px;
}
#pregunta4 {width: 90%;
	height:auto; overflow: hidden;

}

#pregunta4 h4 {width: 90%;
	height: auto;


}

#pregunta4 p {width: 90%;
	height: auto;
	margin-top: 20px;
}
#pregunta5 {width: 90%;
	height:auto; overflow: hidden;

}

#pregunta5 h4 {width: 90%;
	height: auto;
	
}

#pregunta5 p {width:90%;
	height: auto;
	margin-top: 20px;
}


}