nav ul{
	margin: 0px auto;
	background-color: #398105;
	width: 450px;
}

nav ul li{
	margin: 0px;
	float: left;
	list-style: none;
	line-height: 30px;
	position: relative;
	background-color: #078EE5;
	font-family: Arial;
}

nav ul li:hover{
	color: #078EE5;
	background-color: #fff;
}

nav ul li:hover > a{
	color: #078EE5;
}

nav ul li a{
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

.mobile-menu{
	background-color: red;
	position: relative;
	display: none;
}

@media (max-width: 640px) {
	.mobile-menu{
		display: block;
		background-color: #078EE5;
		color: #fff;
		padding: 5px 10px;
		cursor: pointer;
		font-family: Arial;
	}

	.mobile-menu img{
		width: 25px;
		top: 2px;
		right: 10px;
		position: absolute;
	}

	nav{
	    position: relative;
	    height: auto;
	}

	nav ul{
		display: none;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    width: 99%; 
	    top: 0;
	    position: absolute;
	}

	nav ul li{ 
		width: 92%;
		position: relative;
	    padding: 5px;
	    background-color: #078EE5;
	    cursor: pointer;
	}

}