*{
	padding: 0;
	margin: 0;
}

#principal{width: 100%;}

#logo {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 999;
}

#logo h1{
	width: 600px;
	height: 100px;
	padding: 30px;
	font-size: 35px;
}


#header{
	z-index: 999;
	position:absolute;
	top: 30px;
	right: 30px;

}

ul,ol{
	list-style: none
}

.menu li a{
	color: #fff;
	text-decoration:none;
	padding: 10px 15px; 
	display: block;
	font-family:"century gothic",banshcript;
	font-size: 25px;

}
.menu li a:hover{
	background-color: #DFDEDE;
	border-radius: 25px;
	color: #000;
}

.menu >li{
	float: left;
}
.menu li ul{
	position: absolute;
	min-width: 140px;
}













.flexslider{
	width: 100%;
	position: relative;
	height: 950px;
}

.slides{
	overflow: hidden;
}

.slides img{
	width: 100%;
	height: 950px;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-control-nav{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5%;
	z-index: 999;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 6px;
}

.flex-control-nav li a{
	display: block;
	background: #777777;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	text-indent: -9999px;
}

.flex-control-nav li a:hover{
	background: #2E2E2E;
	border-radius: 25px;
}

.flex-control-nav li a.flex-active{
	background: #2E2E2E;	
}

.flex-direction-nav a{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev{
	left: 0;
}

.flex-direction-nav .flex-next{
	right: 0;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

.flex-caption p{
	font-family:"century gothic";
	position: absolute;
	top: 48%;
	text-align: center;
	width: 100%;
	font-size: 30px;
	color: #fff;
}

.flex-caption h1{
	width: 100%;
	position: absolute;
	top: 35%;
 	text-align: center;
 	font-size: 80px;
	font-family:"century gothic";
	color: white;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 0.7;
	left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 0.7;
	right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover{
	opacity: 1;
}


#preguntas{
	width: 90%;
	padding: 30px;
	height: 600px;
	background-color: transparent;

}

#articulo{
	display: block;
}


#pregunta1 h4 {
	font-family:"century gothic";
	font-size: 25px;
	color: #000;


}

#pregunta1 p {
	height: 60px;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: 10px;
}










#pregunta2 h4 {
	font-family:"century gothic";
	font-size: 25px;
	color: #000;


}

#pregunta2 p {
	height: 60px;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: 10px;
}







#pregunta3 h4 {
	font-family:"century gothic";
	font-size: 25px;
	color: #000;


}

#pregunta3 p {
	height: 60px;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: 10px;
}




#pregunta4 h4 {
	font-family:"century gothic";
	font-size: 25px;
	color: #000;


}

#pregunta4 p {
	height: 60px;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: 10px;
}



#pregunta5 h4 {
	font-family:"century gothic";
	font-size: 25px;
	color: #000;


}

#pregunta5 p {
	height: 60px;
	font-family:"century gothic";
	font-size: 25px;
	margin-top: 10px;
}


footer {
	width: 100%;
	bottom: 0;
	text-align:center;
	color: black;
	margin-top: 20px;
	background-color: #F1F1F1;
}

footer h4{
	padding: 20px;
	font-family:"century gothic",banshcript;
	font-size: 15px;
}